/* 4. Header */
header {
    background-color: #ffffff; /* fond blanc */
    padding: 20px 40px;
    border-bottom: 2px solid #e0e0e0;
}

header h1 {
    font-family: 2rem;
    color: #4c01fb;
    margin-bottom: 10px;
}

/* 5. Navigation */
nav {
    margin-top: 10px;
}

nav a {
    margin-right: 20px;
    font-family: bold;
    color: #066fd8;
}

nav a:last-child {
    margin-right: 0;
}

nav a:hover {
    color: #f902e9;
}
